@model ECommerce.Models.ServiceRequested

@{
    ViewData["Title"] = "Delete";
}

<br />

<h3>هل حقاً ترغب في حذف الخدمة</h3>
<div>

    <hr />
    <table class="table table-bordered table-striped table-responsive">

        <thead>
            <tr>
                <th>
                    اسم الخدمة
                </th>
                <th>
                    وصف الخدمة
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.Name
                </td>
                <td>
                    @Model.Description
                </td>
            </tr>
        </tbody>
    </table>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index">عودة للقائمة</a>
    </form>
</div>
