@model IEnumerable<ECommerce.Models.ServiceRequested>

@{
    ViewData["Title"] = "Index";
}
<br />

<h2>الخدمات المطلوبة</h2>
<br />

<table class="table table-striped table-bordered table-responsive">
    <thead>
        <tr>
            <th>
                اسم الخدمة المطلوبة
            </th>
            <th>
                وصف الخدمة
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Describtion)
                </td>
                <td>

                    <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
