@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>@ViewBag.User.FullName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @{
                    List<string> s = new List<string>();
                    foreach (var item in ViewBag.UserClaims)
                    {
                        s.Add(item.ClaimType);
                    }

                    if (s.Contains("Admin"))
                    {
                        <div class="form-group">
                            <label class="container">
                                <input type="checkbox" name="Admin" value="true" id="Admin" checked />
                                <input type="hidden" name="Admin" value="false" id="AdminHidden" />

                                <span class="checkmark"></span>
                                Admin
                            </label>
                        </div>

                    }
                    else
                    {
                        <div class="form-group">
                            <label class="container">
                                <input type="checkbox" name="Admin" value="true" id="Admin" />
                                <input type="hidden" name="Admin" value="false" id="AdminHidden" />

                                <span class="checkmark"></span>
                                Admin
                            </label>
                        </div>
                    }

                    if (s.Contains("CustomerService"))
                    {
                        <div class="form-group">
                            <label class="container">
                                <input type="checkbox" name="CustomerService" value="true" id="CustomerService" checked />
                                <input type="hidden" name="CustomerService" value="false" id="CustomerServiceHidden" />

                                <span class="checkmark"></span>
                                CustomerService
                            </label>
                        </div>

                    }
                    else
                    {
                        <div class="form-group">
                            <label class="container">
                                <input type="checkbox" name="CustomerService" value="true" id="CustomerService" />
                                <input type="hidden" name="CustomerService" value="false" id="CustomerServiceHidden" />

                                <span class="checkmark"></span>
                                CustomerService
                            </label>
                        </div>
                    }

                    if (s.Contains("Customer"))
                    {
                        <div class="form-group">
                            <label class="container">
                                <input type="checkbox" name="Customer" value="true" id="Customer" checked />
                                <input type="hidden" name="Customer" value="false" id="CustomerHidden" />

                                <span class="checkmark"></span>
                                Customer
                            </label>
                        </div>

                    }
                    else
                    {
                        <div class="form-group">
                            <label class="container">
                                <input type="checkbox" name="Customer" value="true" id="Customer" />
                                <input type="hidden" name="Customer" value="false" id="CustomerHidden" />

                                <span class="checkmark"></span>
                                Customer
                            </label>
                        </div>
                    }

                    if (s.Contains("ServiceProvider"))
                    {
                        <div class="form-group">
                            <label class="container">
                                <input type="checkbox" name="ServiceProvider" value="true" id="ServiceProvider" checked />
                                <input type="hidden" name="ServiceProvider" value="false" id="ServiceProviderHidden" />

                                <span class="checkmark"></span>
                                ServiceProvider
                            </label>
                        </div>

                    }
                    else
                    {
                        <div class="form-group">
                            <label class="container">
                                <input type="checkbox" name="ServiceProvider" value="true" id="ServiceProvider" />
                                <input type="hidden" name="ServiceProvider" value="false" id="ServiceProviderHidden" />

                                <span class="checkmark"></span>
                                ServiceProvider
                            </label>
                        </div>
                    }

                    if (s.Contains("Admin_CustomerService"))
                    {
                        <div class="form-group">
                            <label class="container">
                                <input type="checkbox" name="Admin_CustomerService" value="true" id="Admin_CustomerService" checked />
                                <input type="hidden" name="Admin_CustomerService" value="false" id="Admin_CustomerServiceHidden" />
                                <span class="checkmark"></span>
                                Admin_CustomerService
                            </label>
                        </div>

                    }
                    else
                    {
                        <div class="form-group">
                            <label class="container">
                                <input type="checkbox" name="Admin_CustomerService" value="true" id="Admin_CustomerService" />
                                <input type="hidden" name="Admin_CustomerService" value="false" id="Admin_CustomerServiceHidden" />                                <span class="checkmark"></span>
                                Admin_CustomerService
                            </label>
                        </div>
                    }
                }
            </div>
            <div class="form-group">
                <input asp-route-UserID="@ViewBag.User.Id" type="submit" value="Save" class="btn btn-default" onclick="myFun()" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    function myFun() {
        if (document.getElementById("Admin").checked) {
            document.getElementById('AdminHidden').disabled = true;
        }
        if (document.getElementById("CustomerService").checked) {
            document.getElementById('CustomerServiceHidden').disabled = true;
        }
        if (document.getElementById("Customer").checked) {
            document.getElementById('CustomerHidden').disabled = true;
        }
        if (document.getElementById("ServiceProvider").checked) {
            document.getElementById('ServiceProviderHidden').disabled = true;
        }
        if (document.getElementById("Admin_CustomerService").checked) {
            document.getElementById('Admin_CustomerServiceHidden').disabled = true;
        }
    }
</script>