@model IEnumerable<ECommerce.Models.AspNetUserClaims>

@{
    ViewData["Title"] = "CustomerServers";
}

<h2>خدمة العملاء</h2>

<p>
    <a asp-area="Identity" asp-page="/Account/RegisterAdmin">اضافة موظف</a>
</p>
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>

            <th style="text-align:center">
                اسم الموظف
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-UserId="@item.UserId">تعديل الصلاحيات</a>
                </td>
            </tr>
        }
    </tbody>
</table>
